
<div class="container px-5 px-sm-0">
  <div class="row">
      <%= render 'users/list', book: @book, user: current_user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td><%= image_tag @showbook.user.get_profile_image(100,100) %><br>
            <%= link_to @showbook.user.name, user_path(@showbook.user) %></td>
            <td><%= link_to @showbook.title, book_path(@showbook.id) %></td>
            <td><%= @showbook.body %></td>
            <td><%= link_to "Edit", edit_book_path(@showbook), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@showbook), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div
</div>